.catalog h1 {
  color: blue;
}

.catalog h5 {
  color: red;
}

.catalog {
  background-color: rgb(247, 245, 242);
}

.btn-cat {
  margin: 5px;
}

.itemCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
